{% extends 'base.html.twig' %}

{% block title %}Liste service{% endblock %}

{% block body %}
    <h1>Liste service</h1>

    
    <a class="btn btn-outline-success" href="{{ path('service_new') }}">Créer un nouveau service</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.nom }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
