<form method="post" action="{{ path('lignedevis_delete', {'id': lignedevi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lignedevi.id) }}">
    <button class="btn">Delete</button>
</form>
